* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body {
    min-height: 100svh;
    height: 100%;
}

main form {
    display: grid;
    grid-template-rows: 170px 4fr;
    height: 100%;
}

form header {
    font-size: 3rem;
    text-transform: uppercase;
    display: grid;
    place-content: center;
    background-color: rgb(84, 4, 244);
}

form header h2 {
    grid-row: 2/3;
    color: white;
}

form .content {
    padding: 1.4rem 1rem;
    height: 100%;
}

form .content .form-header {
    margin-bottom: 1.4rem;
}

form .content .form-header h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

form .content .form-header p {
    font-size: 1.2rem;
    color: rgb(84, 83, 83);
}

form .content .form-field {
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 5px;
    font-size: 1.25rem;
    margin-top: 8%;
}

form .content .form-field label {
    font-size: 1.25rem;
    font-weight: 500;
}

form .content .form-field input {
    font-weight: 500;
    font-size: 1.25rem;
    padding: 10px;
    outline: 1px solid rgb(42, 41, 41);
    border: none;
    border-radius: 6px;
}

form .content .form-field input:focus {
    border-color: rgb(12, 215, 215);
    outline: 2px solid rgb(12, 215, 215);
}

form .content .buttons {
    margin-top: 5vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 5vw;
}

form .content .buttons button {
    border: none;
    padding: 15px 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 6px;
}

form .content .buttons button:first-child {
    background-color: rgb(84, 4, 244);
    color: white;
    text-transform: capitalize;
}

form .form-end-page {
    margin-top: 3vh;
}

.form-end-page p {
    text-align: center;
    color: rgb(84, 83, 83);
}

.form-end-page p a {
    text-decoration: none;
}

@media  screen and (min-width: 768px) {
    form header {
        font-size: 4rem;
    }

     form .content {
        padding: 2.5rem 5rem;
        height: 100%;
    }

    form .content .form-header h3 {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    form .content .form-header p {
        font-size: 1.4rem;
    }

    form .content .buttons {
        margin-top: 6vh;
    }

    form .content .buttons button {
        font-size: 1.4rem;
        padding: 20px 0;
    }

    .form-end-page p {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1100px) {
    main {
        height: 100%;
    }

    main form {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }

    form header {
        order: 1;
    }

    form header h2 {
        font-size: 9rem;
    }

     form .content {
        padding: 1.8rem 2.5rem;
        place-content: center;
    }

    form .content .form-header {
        margin-bottom: .5rem;
    }

    form .content .form-header p {
        font-size: 1.2rem;
    }

    form .content .form-field {
        row-gap: 7px;
        font-size: 1.4rem;
        margin-top: 5%;
    }

     form .content .buttons {
        margin-top: 4vh;
        row-gap: 2vw;
    }

    form .form-end-page {
        margin-top: 5%;
    }

    .form-end-page p {
        font-size: 1.4rem;
    }

    form .content .buttons button:last-child {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1400px), screen and (min-width: 1280px) and (min-height: 950px) {
    main {
        display: grid;
        place-content: center;
        background-image: linear-gradient(36deg, #A100FFFF, #119CFDFF);
    }

    form {
        background: #fff;
        border-radius: 8px;
        width: 70vw;
        box-shadow: 0 0px 20px rgb(58, 58, 58);
        max-width: 1920px;
    }
}
